body {
  margin: 0;
  color: white;
}
aside {
  position: fixed;
  background: black;
  /* top: 10px; Gives it a space between content and the page itself. */
  width: 150px;
  height: 100vh;
  padding: 15px;
  display: grid;
  gap: 30px;
  /* align-content: space-around; Sort content in the center. */
}
img {
  max-width: 100%;
  display: block;
  border-radius: 10px;

}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
li {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-bottom: 15px;
}